<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../static/style.css'>
    <title>Recommendation</title>
</head>
<body>
    <div class="container">
      <img class="image_logo" src="../static/eatup_logo.png" alt="logo" />
      <h1>Eat UP</h1>
      <h2>Recommendation</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Restaurants</th>
          
          </tr>
        </thead>
        <tbody class="table-body">
          {% for rests in data %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{rests}}</td>                
          </tr>  
          {% endfor %}
        </tbody>
      </table>
    </div>
</body>
</html>